# Игнорировать скомпилированные файлы
*.o
*.out
*.exe
*.a
*.so
*.dll

# Игнорировать временные файлы
*.tmp
*.log
*.swp
*.bak

# Игнорировать каталоги сборки
/build/
/bin/
/obj/

# # Игнорировать файлы без расширений (но не скрытые файлы типа ".gitignore")
# [!.]*

